.runover-annotations
  pointer-events none
  fixed 0
  backface-visibility hidden
  z-index 9999999999999999 // because of reasons

.runover-annotation
  position absolute
  will-change transform
  pointer-events initial
  transition-property transform
  // transition transform 1000ms
  //
  // for index in 1..20
  //   &:nth-child({index})
  //     $random = random(25, 150)
  //     transition-duration 1000ms - ( $random * (-1ms) )
  //     transition-delay $random * (-1ms)
