.runover-content
  font-family 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
  z-index 9999999999999999 // because of reasons

[data-runover-selecting="true"] *
  user-select none

  .runover-content
    user-select text
