.runover-content
  font-family 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

[data-runover-selecting="true"] *
  user-select none

  .runover-content
    user-select text

[data-runover-scrolling='true'] *
  pointer-events none !important
