/**
 * Annotations (style)
 * -------------------
 * Handles annotations positioning.
 * @since 0.1.0
 */

.runover-annotations
  fixed 0
  pointer-events none

  // make sure the annotations are
  // in front of available content
  z-index 10**20

.runover-annotation
  position absolute
  pointer-events auto
  will-change transform

  // @TODO Remove the following
  // after handling it in js

  transition transform 600ms

  for index in 1..50
    &:nth-child({index})
      $random = random(25, 150)
      transition-duration 600ms - ( $random * (-1ms) )
      transition-delay $random * (-1ms)
