/**
 * Annotations (style)
 * -------------------
 * Handles annotations positioning.
 * @since 0.1.0
 */

.runover-annotations
  fixed top left
  pointer-events none

  // make sure the annotations are
  // in front of available content
  z-index 10**20

.runover-annotation
  position absolute
  pointer-events auto
  will-change transform

  [data-runover-selecting='true'] &
    pointer-events none
