.runover-point-text
  resize none
  border none
  outline 0
  margin 14px 0 0 14px
  padding 16px
  box-sizing border-box
  width 180px
  height 80px
  border-radius 4px
  box-shadow 0 2px 8px hsla(black, 0.2)
  transform translateX(-50%)
  font-size 0.875rem
  font-weight 500
  color #555
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
