/**
 * Message // message.styl
 * @since 0.1.0
 */

.runover-point-message
  position relative
  margin 14px
  transform translate(-50%, -5px)
  opacity 0
  transition opacity 500ms, transform 500ms
  transition-delay 200ms
  pointer-events none

  &:hover
  .runover-point-pin:hover + &
  [data-runover-editing='true'] &
    opacity 1
    transform translate(-50%, 0)
    transition-delay 0ms
    pointer-events initial
    z-index 9999

.runover-point-text
  resize none
  border none
  outline 0
  padding 16px
  box-sizing border-box
  width 180px
  height 80px
  border-radius 4px
  box-shadow 0 2px 8px hsla(black, 0.2)
  font-size 0.875rem
  font-weight 500
  color #555
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.runover-point-arrow
  &:before
  &:after
    content ''
    position absolute
    top 0
    left 50%
    size 12px
    margin -5px -6px
    border-radius 2px

  &:before
    box-shadow 0 2px 8px hsla(black, 0.2)
    transform rotateZ(45deg)
    z-index -1

  &:after
    transform rotateZ(45deg)
    background white
