/**
 * Annotations (style)
 * -------------------
 * Handles points positioning.
 * @since 0.1.0
 */

.runover-points
  fixed top left

  // make sure the points are
  // in front of available content
  z-index 10**20

.runover-point
  position absolute
  will-change transform
  transition opacity 300ms

  [data-runover-selecting='true'] &
    pointer-events none

  [data-runover-hidden='true']&
    pointer-events none
    opacity 0

  [data-runover-hidden='false']& .runover-point-pin
    spring-in-place runover-point-pin-rebounce 1000ms, 7, 5, scale(0.2)
