/**
 * Selector (style)
 * ----------------
 * Handles selector styling.
 * @since 0.1.0
 */

.runover-selector
  position fixed
  margin -10px 0 0 -10px
  padding 10px
  pointer-events none
  background hsla(red, 0.25)
  transition opacity 150ms

  // make sure the selector is in
  // front of available content
  z-index 10**20
  transform translateZ(10**20px)

  [data-runover-selecting='false'] &
  [data-runover-motion='true'] &
    opacity 0

  [data-runover-selecting='true'][data-runover-cursor='false'] &
    pointer-events initial

  [data-runover-cursor='true'] &
    transition all 200ms
