/**
 * ------------------------------
 * Runover Message (message.styl)
 * ------------------------------
 * @since 0.1.0
 */

.runover-point-message
  position relative
  display inline-block
  margin 14px
  opacity 0
  transform translate(-50%, -5px)
  transition opacity 500ms, transform 500ms
  transition-delay 200ms
  pointer-events none

  /**
   * Show message on pin hover, transfer hover to it's own
   * element and optionaly lock it, while in editing mode.
   * @since 0.1.0
   */

  &:hover
  .runover-point-pin:hover + &
  [data-runover-editing='true'] &
    pointer-events all
    transform translate(-50%, 0)
    opacity 1

/**
 * Set styling of the textarea within the message.
 * @since 0.1.0
 */

// set variables
$min-width     = 140px
$min-height    = 50px
$max-width     = 220px
$max-height    = 320px
$padding       = 16px
$border-radius = 4px

.runover-point-text
  user-select text !important
  -webkit-font-smoothing subpixel-antialiased
  resize  none
  border  none
  outline 0
  background white
  box-shadow 0 2px 10px hsla(black, 0.2)
  font-family inherit
  font-weight inherit
  font-size   rem(15px)
  color #666

  // apply variables
  width         $min-width
  height        $min-height
  min-width     $min-width
  min-height    $min-height
  max-width     $max-width
  max-height    $max-height
  padding       $padding
  border-radius $border-radius

/**
 * Match measure elements styling with
 * the one from textarea element.
 * @since 0.1.0
 */

.runover-measure
  min-width  $min-width
  min-height $min-height
  max-width  $max-width
  max-height $max-height
  padding    $padding

/**
 * Set styling of the message arrow.
 * @since 0.1.0
 */

.runover-point-arrow

  &:before
  &:after
    content ''
    absolute 0 _ _ 50%
    size 12px
    border-radius ( $border-radius / 2 )
    transform rotate(45deg)

    // center the arrow by moving it to
    // the left by half it's width and
    // to the top by half it's height
    // and half it's border-radius
    margin -5px 0 0 -6px

  &:before
    z-index -1

    // add box shadow matching to the text
    // element while offseting it's position
    // acording to the rotation
    box-shadow 1px 1px 10px hsla(black, 0.2)

  &:after

    // color only the top half of the romboid
    // preventing the mask over the textarea
    background linear-gradient( to bottom right, \
      white 8px, hsla( white , 0 ) 8px           \
    )
