/**
 * ----------------------
 * Runover (runover.styl)
 * ----------------------
 * @since 0.1.0
 */

.runover
  font-family 'Oh Sans', sans-serif
  user-select none

  // antialiasing
  -webkit-font-smoothing  antialiased
  -moz-osx-font-smoothing grayscale

  // set custom user-select and box
  // model for all [runover] elements
  [class^='runover-']
    user-select none
    box-sizing  border-box

/**
 * Disable pointer events for all runover elements while
 * scrolling. Optimizes overall scrolling performance.
 * @since 0.1.0
 */

[data-runover-motion='true'] [class^='runover-']
  pointer-events none !important
