/**
 * --------------------------------
 * Runover Selector (selector.styl)
 * --------------------------------
 * @since 0.1.0
 */

.runover-selector
  position fixed
  background hsla(red, 0.25)

  // add additional outter padding
  // and adjust the new center
  padding 10px
  margin -10px 0 0 -10px

  // remove default box model
  box-sizing initial !important

  // make sure the selector is in
  // front of available content
  z-index 10**25
  transform translateZ(10**25px)

  // update the cursor
  [data-runover-selecting='true'] &
    cursor pointer

  /**
   * Hide the selector when not in selecting mode,
   * or when there is motion detected.
   * @since 0.1.0
   */

  transition opacity 150ms

  &.runover-selector-enter
    opacity 0

  &.runover-selector-enter-active
    opacity 1

  &.runover-selector-leave
    opacity 1

  &.runover-selector-leave-active
    opacity 0

  [data-runover-selecting='false'] &
  [data-runover-motion='true'] &
    opacity 0
    pointer-events none

/**
 * Disable pointer events for every [runover] element
 * except 'selector', while in selecting mode.
 * @since 0.1.0
 */

[data-runover-selecting='true'] &
  [class^='runover-']:not(.runover-selector)
    pointer-events none
