@require 'stylus-mixer'

.runover-content
  fixed 0
  overflow hidden
  font-family 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

.runover-selector
  background hsla(#e25065, 0.25)
